<h4>RXJS - CREATION</h4>
<p>OF - convert to observable[static Value] - No Async </p>
{{rxjsOF$ }} <br>
<p>OF - Emit Object, array, function </p>
{{rxjsOFArrayObjectFunction$ }} <br>

<p>FROM - convert to observable[array, promise] - Yes Async</p>
{{rxjsFROM$}}
<br>
{{rxjsFROM1$}}
<br>
<p>MAP -- used to transform the items emitted by an observable by applying a function to each item. </p>

<h4>RXJS - TRANSFORMATION</h4>
<p>MAP - used to transform the items emitted by an observable by applying a function to each item.</p>